<style>
  div.reg-title {
      border-bottom: 1px solid #000;
  }
  .reg-select {
    margin-right: 5px;
    float: left;
  }
  .reg-select select {
    min-height: 150px;
    max-height: 250px;
  }
  .reg-tables {
    float:left;
    max-width: 600px;
    max-height: 250px;
    overflow-y: auto;
  }
  .reg-tables-name {
    vertical-align: top;
  }
  .reg-tables-value {
    display: inline-block;
    max-width: 300px;
    vertical-align: top;
  }
  .reg-name {
    font-weight: bold;
    text-decoration: underline;
  }
  a.reg-link {
    display: inline-block;
    border:  1px solid #000;
    padding:  0px 2px;
  }
  a.reg-is-noun {
    color:  blue;
    font-style: italic;
  }
</style>

<form>
  <div class="reg-title"><b>What would you like to create?</b></div>
    <div style="flexcol" id="{{appid}}-reg-row">
      <section id="col0" class="reg-select">
      </section>
      <section id="{{appid}}-col1" class="reg-select">
        <select multiple id='{{appid}}-select1' onChange="populateCategory(this)">
          {{#each categories}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </section>
    </div>
  </div>
</form>

<script type="text/javascript">
  var doc = new DOMParser().parseFromString(`{{{xml}}}`, 'application/xml');
  var markovJSON = '';
  document.getElementById('{{appid}}-select1').path = `{{path}}`

  jQuery.fn.outerHTML = function() {
    return (this[0]) ? this[0].outerHTML : '';
  };

  loadMarkov();

  function loadMarkov() {
    let xhr = new XMLHttpRequest();
    xhr.open('GET', '/modules/random-everything-generator/markov-source/male-names.markov');
    xhr.onload = function() {
      const jsonStr = xhr.response;
      markovJSON = JSON.parse(jsonStr);
    }
    xhr.send();
  }

  function getNextLetter(prev) {
    // Get a capital letter to start
    let nxt = markovJSON[prev];
    let total = 0
    Object.keys(nxt).forEach(letter => total += nxt[letter])
    let rnd = Math.floor(Math.random() * total);
    let r = '';
    let i = 0;
    Object.keys(nxt).every(letter => {
      i += parseInt(nxt[letter]);
      if (i > rnd) {
        r += letter;
        return false;
      }
      return true;
    });
    return r;
  }

  function fromMarkov() {
    if (markovJSON == '')
      return "Unknown";
    let r = '';   
    r = getNextLetter('');
    while (r.length < 3 || r.substr(r.length-2) != '--') {
      r += getNextLetter(r.substr(r.length-1))
    }
    r = r.substr(0, r.length-2);
    return r;
  }

  /*
   * Generates a name from a <table type="name">
   *
   * Arguments: [XMLNode] <table type="name"> node
   * Returns:   [String]  generated name
   */
  function generateName(node) {
    const nodePatterns = node.getElementsByTagName("patterns");
    if (nodePatterns.length == 0)
      return;
    const nodePattern = nodePatterns[0].getElementsByTagName("pattern");
    let htmlValue = '';
    for (const pattern of nodePattern) {
      let p = pattern.textContent;
      let m = p.match(/\{(.*?)\}/);
      while (m && m.length > 0) {
        const listType = m[1];
        switch (listType) {
          case 'markov': {
            p = p.replace('{markov}', fromMarkov);
            break;
          }
          default: {
            let values = []
            const nodesList = node.getElementsByTagName("list");
            for (let i = 0; i < nodesList.length; i++) {
              if (nodesList[i].getAttribute("type") == listType) {
                let items = nodesList[i].getElementsByTagName("item");
                for (let j = 0; j < items.length; j++) {
                  values.push(items[j].textContent);
                }
              }
            }
            let r = values[Math.floor(Math.random()*values.length)];
            p = p.replace('{'+m[1]+'}', r);
            break;
          }
        }
        m = p.match(/\{(.*?)\}/);
      }
      htmlValue = p;
    }
    return htmlValue
  }

  function createElement(tag, value=null) {
    const elem = document.createElement(tag)
    elem.id = '{{appid}}-id_' + Math.floor(Math.random()*1000000);
    if (value != null)
      elem.innerHTML = value
    return elem;
  }

  function createRegenButton(callback = ()=>{}) {
    const aRegen = document.createElement('A');
    aRegen.addEventListener('click', callback);
    const iRegen = document.createElement('I');
    $(iRegen).addClass('fas fa-sync-alt');
    $(iRegen).css({'display': 'inline-block', 'margin-left': '5px'})
    aRegen.appendChild(iRegen);
    return aRegen;
  }

  function processRegions(nodeValue, path) {
    if (nodeValue.getAttribute('region_include')) {
      let includes = nodeValue.getAttribute('region_include').split('|');
      let starts = nodeValue.getAttribute('region_start').split('|');
      let ends = nodeValue.getAttribute('region_end').split('|');

      // When processing the textValue, it will change the position of the
      // letters, so process it backwards, that way the start/stops do not
      // get shifted when the string value changes.
      let  r = nodeValue.textContent;
      for (let i = includes.length - 1; i >= 0; i--){
        let start = starts[i];
        let end = ends[i];
        let length = end-start;
        let before = r.substr(0, start);
        let at = r.substr(start, length);
        let after = r.substr(end);
        let linkId =  '{{appid}}' + path + '.' + i;
        let link = $(`<a id='${linkId}' class='reg-link' onClick="openChildStory('${includes[i]}', this)">${at}</a>`);
        if (includes[i] == '__noun__')
          link.addClass('reg-is-noun');
        r = before+link.outerHTML()+after;
      }
      return r;
    } else {
      return nodeValue.textContent;
    }
  }

  function openChildStory(file, src) {
    let path = src.id.replace(/^app-\d+/, '');
    console.log(path);
    if (file == '__noun__') {

    } else {
      document.RandomEverythingGeneratorData[path] = file;
      let xhr = new XMLHttpRequest();
      xhr.open('GET', `/modules/random-everything-generator/xml/${file}.xml`);
      xhr.send();
      xhr.onload = function() {
        // Add a list item for every top-level category
        const xmlStr = xhr.response;
        const parser = new DOMParser();
        const doc = parser.parseFromString(xmlStr, 'application/xml');
        const nodeTop = doc.getElementsByTagName('category')[0]; //Guaranteed top level node

        // Most of the work is going to be performed in random-everything-generator-child.hbs
        let regChild = new REGChild(nodeTop.getAttribute('name'));
        regChild.XML = xmlStr;
        regChild.Path = path
        regChild.render(true);
      }
    }
  }

  function buildFromTable(node, regenAllButton, path) {
    if (node.getAttribute("include")) return; // These shouldn't exist anymore

    let div = document.createElement('DIV');
    const tableName = node.getAttribute("name");
    const tableId = node.getAttribute("id");
    const tableType = node.getAttribute("type") || "standard";
    switch (tableType) {
      case "standard": {
        const nodeValues = node.getElementsByTagName("value");
        let localPath = path + '.' + node.getAttribute('id');
        let randValue = (parseInt(document.RandomEverythingGeneratorData[localPath])==document.RandomEverythingGeneratorData[localPath])
          ? parseInt(document.RandomEverythingGeneratorData[localPath])
          : Math.floor(Math.random() * nodeValues.length);
        const spanName = createElement('SPAN', tableName+' '); 
        $(spanName).addClass('reg-tables-name')
        div.appendChild(spanName)

        document.RandomEverythingGeneratorData[path + '.' + node.getAttribute('id')] = randValue;
        let value = processRegions(nodeValues[randValue], localPath + '.' + randValue);
        const spanValue = createElement('SPAN', value)
        $(spanValue).addClass('reg-tables-value')
        div.appendChild(spanValue);

        let regenFunction = () => {
          let randValue = Math.floor(Math.random() * nodeValues.length);
          let value = processRegions(nodeValues[randValue], localPath + '.' + randValue);
          spanValue.innerHTML = value;
          document.RandomEverythingGeneratorData[localPath] = randValue;
        }
        div.appendChild(createRegenButton(regenFunction));
        regenAllButton.addEventListener('click', regenFunction)
        break;
      }
      case "pattern":
      case "name": {
        let id = node.getAttribute('id') || 'name';
        $(div).addClass('reg-name');
        div.appendChild(createElement('SPAN', 'Name: '));

        let localPath = path + '.name';

        let name = document.RandomEverythingGeneratorData[localPath] || generateName(node);
        const spanValue = createElement('SPAN', name);
        document.RandomEverythingGeneratorData[path + '.name'] = name
        div.appendChild(spanValue);
        let regenFunction = () => {
          let name = generateName(node);
          spanValue.innerHTML = name;
          document.RandomEverythingGeneratorData[path + '.name'] = name
        }
        div.appendChild(createRegenButton(regenFunction));
        regenAllButton.addEventListener('click', regenFunction);
      }
    }
    return div;
  }

  function buildFromInclude(node, rDiv, path, force = false) {
    let include = node.getAttribute('include');
    let localPath = path + '.' + include
    if (force === false && document.RandomEverythingGeneratorData[localPath]) {
      document.getElementById(rDiv).innerHTML = document.RandomEverythingGeneratorData[localPath];
    } else {
      $.get('/modules/random-everything-generator/xml/'+include+'.xml', data => {
        const table = data.getElementsByTagName('table')[0];
        const values = table.getElementsByTagName('value');
        const value = values[Math.floor(Math.random() * values.length)];
        document.getElementById(rDiv).innerHTML = value.textContent;
        document.RandomEverythingGeneratorData[localPath] = value.textContent
      });
    }
  }

  function populateCategory(select) {
    let path = select.path + '.' + select.value;
    console.log(path);
    const selectedValue = select.value;
    const id = selectedValue;
    let colIdx = select.parentNode.id.substr(3);

    // Check if the category is in the Categories XML
    const category = doc.getElementById(id);
    if (category.children.length > 0) { // This category has child nodes
      colIdxNext = parseInt(colIdx) + 1;
      let sectionNext = document.createElement('SECTION');
      sectionNext.id = "col"+colIdxNext;
      sectionNext.classList.add('reg-select');
      selectNext = document.createElement('SELECT');
      selectNext.id = 'select' + colIdx;
      selectNext.path = path;
      selectNext.multiple = true;      
      selectNext.style.height = (category.children.length*1.3)+'em';
      selectNext.addEventListener('change', function() {
        document.RandomEverythingGeneratorData[path] = this.value;
        populateCategory(this);
      })
      sectionNext.appendChild(selectNext);

      for (const child of category.children) {
        let option = document.createElement('OPTION');
        option.value = child.getAttribute('id');
        option.innerHTML = child.getAttribute('name');
        selectNext.appendChild(option);
      }

      if (document.getElementById('{{appid}}-col'+colIdxNext)) {
        $(`section#col${colIdxNext}`).replaceWith(sectionNext)
      } else {
        document.getElementById('{{appid}}-reg-row').appendChild(sectionNext);
      }
    } else { // Load and generate random tables
      // Create Result section
      let sectionNext = document.createElement('SECTION');
      sectionNext.classList.add('reg-tables');
      sectionNext.id = '{{appid}}-col'+(colIdxNext+1);
      document.getElementById('{{appid}}-reg-row').appendChild(sectionNext);

      let xhr = new XMLHttpRequest();
      xhr.open('GET', '/modules/random-everything-generator/xml/'+id+'.xml');
      xhr.send();
      xhr.onload = function() {
        const xmlStr = xhr.response;
        const parser = new DOMParser();
        const doc = parser.parseFromString(xmlStr, 'application/xml');
        const nodeCategory = doc.getElementsByTagName('category')[0];
        const catTitle = nodeCategory.getAttribute("name");
        const nodeName = nodeCategory.getElementsByTagName('name')[0];
        if (nodeName) {
          const name = nodeName.getAttribute('name');
        }

        let div = document.getElementById('{{appid}}-col'+(colIdxNext+1));
        div.innerHTML = '';

        // TODO: 
        // Load in <member> tags
        const h2 = document.createElement('H2');
        const regenAllButton = createRegenButton()
        h2.innerHTML = catTitle;
        h2.appendChild(regenAllButton)
        div.appendChild(h2);

        if (nodeName) {
          const divName = document.createElement('DIV');
          divName.appendChild(createElement('SPAN', 'Name: '));
          let localPath = path + '.name';
          let nameValue = (document.RandomEverythingGeneratorData[path + '.name'])
            ? document.RandomEverythingGeneratorData[path + '.name']
            : fromMarkov();
          let spanValue = createElement('SPAN', nameValue);
          divName.appendChild(spanValue);
          document.RandomEverythingGeneratorData[path+'.'+'name'] = nameValue;
          let regenFunction = () => {
            let nameValue = fromMarkov();
            document.RandomEverythingGeneratorData[path+'.'+'name'] = nameValue;
            spanValue.innerHTML = nameValue;
          }
          divName.appendChild(createRegenButton(regenFunction));
          regenAllButton.addEventListener('click', regenFunction)
          div.appendChild(divName);
        }

        for (const categoryChild of nodeCategory.children) {
          switch(categoryChild.tagName) {
            case 'table': {
              div.appendChild(buildFromTable(categoryChild, regenAllButton, path));
              break;
            }
            case 'include': {
              let rDiv = document.createElement('DIV');
              let spanName = createElement('SPAN', categoryChild.getAttribute('name') + ': ');
              let spanValue = createElement('SPAN');
              rDiv.appendChild(spanName);
              rDiv.appendChild(spanValue);
              div.appendChild(rDiv);
              let regenFunction = () => buildFromInclude(categoryChild, spanValue.id, path, true);
              buildFromInclude(categoryChild, spanValue.id, path);
              rDiv.appendChild(createRegenButton(regenFunction));
              regenAllButton.addEventListener('click', regenFunction)
              break;
            }
          }
        }
      }
    }
  }

  class REGChild extends Application{
    static ID = 'random-everything-generator';
    static TEMPLATES = {
        MAIN: `modules/${this.ID}/templates/random-everything-generator-child.hbs`
    };
    static log(force, ...args) {
        const shouldLog = force || game.modules.get('_dev_mode')?.api?.getPackageDebugValue(this.ID);
        if (shouldLog) {
            console.log(this.ID, '|', ...args);
        }
    };
    Title;
    XML;
    Path;

    constructor(title) {
      super({title: `${title} - Random Everything Generator`});
      this.Title = title;
    }

    static get defaultOptions() {
        const overrides = {
            height: 410,
            width: 500,
            template: REGChild.TEMPLATES.MAIN,
            resizable: true,
            minimizable: true
        }

        return foundry.utils.mergeObject(super.defaultOptions, overrides);
    }

    getData(options) {
       return {
          title: this.Title,
          xml: this.XML,
          appid: this.id,
          path: this.Path
       };
    }
  }

</script>

