<style>
  div.reg-title {
      border-bottom: 1px solid #000;
  }
  .reg-select {
    margin-right: 5px;
    float: left;
  }
  .reg-select select {
    min-height: 150px;
    max-height: 250px;
  }
  .reg-tables {
    float:left;
    overflow-y: auto;
  }
  .reg-tables-name {
    vertical-align: top;
  }
  .reg-tables-value {
    display: inline-block;
    vertical-align: top;
  }
  .reg-name {
    font-weight: bold;
    text-decoration: underline;
  }
  a.reg-link {
    display: inline-block;
    border:  1px solid #000;
    padding:  0px 2px;
  }
  a.reg-is-noun {
    color:  blue;
    font-style: italic;
  }

  section.reg-members {
    max-width: 150px;
    border-left: 1px solid #000;
    padding-left: 3px;
  }

  section.reg-members header {
    font-weight: bold;
    border-bottom: 1px solid #000;
  }

  section.reg-members select {
    width: 100%;
  }

  li.reg-member:hover {
    cursor: pointer;
    background-color:  #C0C0C0;
  }

  div.reg-option-select {
    position: absolute;
    border: 1px solid #000;
    height: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    top: 30px;
    left: 0px;
    background-color: #D3D3D3;
    padding: 5px;
    overflow-y: auto;
    text-overflow: auto;
  }

  div.reg-option-select input {
    width: calc(100% - 25px);
  }

  div.reg-option-select i.far {
    width:  20px;
    marign-left:  5px;
    display: inline-block;
    padding-left:  5px;
    cursor: pointer;
  }
</style>

<form>
  <h2 class="reg-title" id='{{appid}}-reg-title'><b>{{title}}</b></h2>
  <div class="flexrow" id="{{appid}}-reg-row">
    <section id="{{appid}}-child-col1" class="reg-tables">
      {{#each tableResults}}
        <div>
          <span>{{this.key}}: </span><span id="reg-val-{{this.id}}">{{{this.value}}}</span>
          <a id="reg-regen-{{this.id}}"><i class="fas fa-sync-alt"></i></a>
          <a id="reg-dd-{{this.id}}">&#9660;</a>
          <a id="reg-delete-{{this.id}}"><i class="fas fa-minus"></i></a>
        </div>
      {{/each}}
    </section>
    <section id="{{appid}}-members" class="reg-members">
      <header>Members</header>
      <select name="add-member" id="{{appid}}-add-member">
        {{selectOptions members blank="Add Member"}}
      </select>
      <ul id="{{appid}}-members-list">
        {{#each linkedMembers}}
          <li class="reg-member" id="{{../appid}}-member-{{this.index}}">{{this.label}}</li>
        {{/each}}
      </ul>
    </section>
  </div>
  <div id="{{appid}}-reg-option-select" class="reg-option-select" style="display:none">
  </div>
</form>